<div class="col-sm-3">
  {{#link-to 'listing' listing.id}}
    <img src={{listing.image}} alt="{{listing.title}}">
    <p>{{listing.title}}</p>
    <p>
      {{formatDate}}
    </p>
  {{/link-to}}
</div>
