<div class="col-sm-6">
  <h3>New Category</h3>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name"}}
    </div>
  </form>
  <button class="btn btn-success" {{action 'saveCategory'}}>Add Category</button>
</div>
